<!-- FORMULÁRIO DE CRIAR PRODUTO -->
<form *ngIf="productAction.event.action === addProductAction"
	[formGroup]="addProductForm"
	(ngSubmit)="handlerSubmitAddProduct()">
	<div class="card flex flex-column md:flex-column gap-3">
		<!-- Nome do produto -->
		<input pInputText
			placeholder="Nome"
			formControlName="name">

		<!-- Categoria do produto -->
		<p-dropdown [options]="categoriesData"
			[(ngModel)]="selectedCategories"
			styleClass="w-full"
			optionLabel="name"
			optionValue="id"
			placeholder="Selecione uma categoria"
			formControlName="category_id">
		</p-dropdown>

		<!-- Preço do produto -->
		<input pInputText
			placeholder="Preço"
			formControlName="price">

		<!-- Descrição do produto -->
		<input pInputText
			placeholder="Descrição"
			formControlName="description">

		<!-- Quantidade do produto -->
		<input pInputText
			placeholder="Quantidade"
			formControlName="amount">

		<div class="flex flex-row justify-content-center align-items-center m-1">
			<p-button [disabled]="addProductForm.invalid"
				type="submit"
				label="Cadastrar Produto">
			</p-button>
		</div>
	</div>
</form>

<!-- FORMULÁRIO PARA EDITAR PRODUTO -->
<form *ngIf="productAction.event.action === editProductAction"
	[formGroup]="editProductForm"
	(ngSubmit)="handlerSubmitEditForm()">

	<div class="card flex flex-colun md:flex-column gap-3">
		<!-- Nome do produto -->
		<input pInputText
			placeholder="Nome"
			formControlName="name">

    <div *ngIf="renderDropdown">
      <!-- Categoria do produto -->
      <p-dropdown [options]="categoriesData"
        [(ngModel)]="selectedCategories"
        styleClass="w-full"
        optionLabel="name"
        optionValue="id"
        formControlName="category_id">
      </p-dropdown>
    </div>

		<!-- Preço do produto -->
		<input pInputText
			placeholder="Preço"
			formControlName="price">

		<!-- Descrição do produto -->
		<input pInputText
			placeholder="Descrição"
			formControlName="description">

		<!-- Quantidade do produto -->
		<input pInputText
			placeholder="Quantidade"
			formControlName="amount">

		<p-button [disabled]="editProductForm.invalid"
			type="submit"
			label="Editar">
		</p-button>
	</div>
</form>
